<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>USAA-Mobile-Dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9D4CACA1DB98B9A00274CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9D4CADE1DB98B9A00274CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9D4CAE91DB98B9A00274CC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
